/Obligatorio_Algoritmos/nbproject/private/
/Obligatorio/build/
Obligatorio/nbproject/private/private.properties
Obligatorio/nbproject/private/private.properties
Obligatorio/nbproject/private/private.properties
Obligatorio/nbproject/private/private.properties
*.properties
